{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / List

	This Template is responsible for the femanager list view

<f:section name="main">

	<div class="femanager_list container">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:render partial="User/Searchform" arguments="{_all}" />

		<f:if condition="{users}">
			<f:then>

				<div class="container">
					<div class="row user-list">
						<f:for each="{users}" as="user">

							<f:link.action action="show" arguments="{user:user}" class="user-list-item col-12">

								<div class="row">
									<div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2 col--image">
										<f:if condition="{user.image.0}">
											<f:then>
												<f:image image="{user.image.0}" width="80c" height="80c" class="user-list--image media-object" />
											</f:then>
											<f:else>
												<img class="user-list--image media-object" src="/fileadmin/users/dummy_person.jpg" width="80" height="80" alt="">
											</f:else>
										</f:if>
									</div>
									<div class="col-12 col-sm-9 col-md-9 col-lg-5 col-xl-5 col-xxl-5 col--info">

										<f:if condition="{user.firstName} || {user.lastName}">
											<f:then>
												<span class="user-list-data user-list--name highlighted">{user.firstName} {user.lastName}</span>
											</f:then>
											<f:else>
												<span class="user-list-data user-list--username highlighted">{user.username}</span>
												<span class="user-list-data user-list--name">{user.firstName} {user.lastName}</span>
											</f:else>
										</f:if>

										<f:comment><f:if condition="{user.email}"><span class="user-list-data user-list--email">{user.email}</span></f:if></f:comment>
										<f:if condition="{user.company}"><span class="user-list-data user-list--company">{user.company}</span></f:if>
										<f:if condition="{user.department}"><span class="user-list-data user-list--department">{user.department}</span></f:if>
									</div>
									<div class="col-12 col-sm-4 col-md-5 col-lg-2 col-xl-2 col-xxl-2 offset-sm-3 offset-md-3 offset-lg-0 col--usergroup">
										<f:for each="{user.usergroup}" as="usergroup">
											<span class="user-list-data user-list--usergroup">{usergroup.title}</span>
										</f:for>
									</div>
									<div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3 col-xxl-3 col--profile">
										<span class="button primary icon profile">Profile</span>
									</div>
								</div>

							</f:link.action>

						</f:for>
					</div>
				</div>

			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordsFound" />
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>








<f:section name="main_old">

	<div class="femanager_list">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:if condition="{users}">
			<f:then>
				<ul>
					<f:for each="{users}" as="user">
						<li>
							<ul>
								<li>
									<f:translate key="tx_femanager_domain_model_user.username" />:
									<f:link.action action="show" arguments="{user:user}">{user.username}</f:link.action>
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.usergroup" />:
									<f:for each="{user.usergroup}" as="usergroup" iteration="i">{usergroup.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if></f:for>
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.firstName" />:
									{user.firstName}
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.username" />:
									{user.lastName}
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.gender" />:
									<f:if condition="{user.gender} == 0">
										<f:then>
											<f:translate key="tx_femanager_domain_model_user.gender.item0" />
										</f:then>
										<f:else>
											<f:translate key="tx_femanager_domain_model_user.gender.item1" />
										</f:else>
									</f:if>
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.dateOfBirth" />:
									<f:format.date format="{f:translate(key:'tx_femanager_domain_model_user.dateFormat')}">{user.dateOfBirth}</f:format.date>
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.address" />:
									{user.address}
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.zip" />:
									{user.zip}
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.city" />:
									{user.city}
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.country" />:
									{user.country}
								</li>
								<li>
									<f:translate key="tx_femanager_domain_model_user.state" />:
									<!-- // TODO: Check me if i was displayed -->
									{user.country}
								</li>
							</ul>
						</li>
					</f:for>
				</ul>
			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordsFound" />
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
