{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default"/>

	User / Show

<f:section name="main">

	<div class="femanager_show">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:if condition="{user}">
			<f:then>

				<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pageid')} != {f:cObject(typoscriptObjectPath: 'lib.user.profileUID')}">
					<a href="javascript:history.back()" class="button circle default icon close"></a>
				</f:if>

				<div class="row">
					<div class="col-12 col-lg-5 col-xl-4 col-xxl-3 align-center user-image">
						<f:if condition="{user.image.0}">
							<f:then>
								<f:image image="{user.image.0}" alt="{user.username}"/>
							</f:then>
							<f:else>
								<img src="/fileadmin/users/dummy_person.jpg" alt="">
							</f:else>
						</f:if>

						<!--
							ToDo: Change to compare by userUid when Bug is resolved (https://forge.typo3.org/issues/37988)
							{user.uid} == {f:cObject(typoscriptObjectPath: 'lib.user.uid')}
						-->

						<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pageid')} == {f:cObject(typoscriptObjectPath: 'lib.user.profileUID')}">
							<div class="edit">
								<f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.user.editProfileUID')}" class="button large primary icon edit">
									<f:translate key="tx_VebOvrFemanager_domain_model_user.edit_profile" extensionName="veb_ovr_femanager" />
								</f:link.page>
							</div>
						</f:if>

					</div>
					<div class="col-12 col-lg-7 col-xl-8 col-xxl-9">

						<div class="row user-head">
							<div class="col-12">
								<f:if condition="{user.firstName} || {user.lastName}">
									<f:then>
										<h2 class="username"><f:if condition="{user.firstName}">{user.firstName}</f:if> <f:if condition="{user.lastName}">{user.lastName}</f:if></h2>
									</f:then>
									<f:else>
										<f:if condition="{user.username}">
											<h2 class="username">{user.username}</h2>
										</f:if>
									</f:else>
								</f:if>

								<f:if condition="{user.usergroup}">
									<div class="usergroup"><f:for each="{user.usergroup}" as="usergroup" iteration="i">{usergroup.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if></f:for></div>
								</f:if>
							</div>
						</div>

						<div class="row">
							<div class="col-12 col-xxl-4 col-xxxl-4 user-info-container">

								<div class="user-info">

									<f:if condition="{user.firstName} || {user.lastName}">
										<f:if condition="{user.username}">
											<div class="username">{user.username}</div>
										</f:if>
									</f:if>

									<f:if condition="{user.email}">
										<div class="email">
											<f:link.email email="{user.email}" />
										</div>
									</f:if>

									<f:comment>
										<f:if condition="{user.dateOfBirth}">
											<div class="dateOfBirth">
												<f:translate key="tx_femanager_domain_model_user.dateOfBirth" />:
												<f:format.date format="{f:translate(key:'tx_femanager_domain_model_user.dateFormat')}">{user.dateOfBirth}</f:format.date>
											</div>
										</f:if>
									</f:comment>

									<f:if condition="{user.company}">
										<div class="company">
											{user.company}
										</div>
									</f:if>

									<f:if condition="{user.department}">
										<div class="department">
											{user.department}
										</div>
									</f:if>
								</div>

								<div class="user-address">
									<f:if condition="{user.address}">
										<div class="address">
											{user.address}
										</div>
									</f:if>
									<f:if condition="{user.zip} || {user.city}">
										<div class="zip city">
											<f:if condition="{user.zip}">{user.zip}</f:if>
											<f:if condition="{user.city}">{user.city}</f:if>
										</div>
									</f:if>
									<f:if condition="{user.country}">
										<div class="country">
											{user.country}
										</div>
									</f:if>
									<f:if condition="{user.state}">
										<div class="state">
											{user.state}
										</div>
									</f:if>
								</div>
							</div>
							<div class="col-12 col-xxl-8 col-xxxl-8 user-additional-container">

								<f:if condition="{user.twitterProfile} || {user.facebookProfile} || {user.instagramProfile} || {user.linkedinProfile} || {user.skypeId}">
									<label><f:translate key="tx_VebOvrFemanager_domain_model_user.socialmedia" extensionName="veb_ovr_femanager" /></label>
									<div class="user-socialmedia">
										<f:if condition="{user.twitterProfile}">
											<a href="{user.twitterProfile}" class="button circle default icon twitter" target="_blank"></a>
										</f:if>
										<f:if condition="{user.facebookProfile}">
											<a href="{user.facebookProfile}" class="button circle default icon facebook" target="_blank"></a>
										</f:if>
										<f:if condition="{user.instagramProfile}">
											<a href="{user.instagramProfile}" class="button circle default icon instagram" target="_blank"></a>
										</f:if>
										<f:if condition="{user.linkedinProfile}">
											<a href="{user.linkedinProfile}" class="button circle default icon linkedin" target="_blank"></a>
										</f:if>
										<f:if condition="{user.skypeId}">
											<a href="skype:{user.skypeId}" class="button circle default icon skype" target="_blank"></a>
										</f:if>
									</div>
								</f:if>

								<f:if condition="{user.aboutMe}">
									<div class="user-aboutme">
										<label><f:translate key="tx_VebOvrFemanager_domain_model_user.about_me" extensionName="veb_ovr_femanager" /></label>
										<f:format.raw>
											<p>{user.aboutMe}</p>
										</f:format.raw>
									</div>
								</f:if>

							</div>
						</div>
					</div>
				</div>

			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordFoundShow" />
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
