{namespace femanager=In2code\Femanager\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" >
	<f:layout name="Default" />

	User / Edit
	Available variables:
	{user}
	{allUserGroups}

	<f:section name="main">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />
		<f:render partial="Misc/FormErrors" arguments="{object:User}" />

		<div class="femanager_edit">
			<f:if condition="{user}">
				<f:then>
					<f:form
							name="user"
							object="{user}"
							action="update"
							enctype="multipart/form-data"
							additionalAttributes="{data-femanager-plugin:data.uid}"
							class="form-horizontal {f:if(condition:'{settings.edit.validation._enable.client}',then:'feManagerValidation',else:'')}">
						<fieldset>

							<f:form.hidden name="token" value="{token}" />

							<a href="javascript:history.back()" class="button circle default icon close"></a>

							<f:if condition="{settings.edit.fields}">

								<f:then>
									<f:comment>
										If some fields are selected in the flexform
									</f:comment>
									<f:for each="{femanager:misc.explode(string:'{settings.edit.fields}')}" as="field">
										<f:render partial="Fields/{femanager:misc.upper(string:'{field}')}" arguments="{_all}" />
									</f:for>
									<f:render partial="Fields/SubmitUpdate" arguments="{_all}" />
								</f:then>

								<f:else>

									<f:comment>
										If no fields are selected in the flexform => show all
									</f:comment>

									<div class="row">
										<div class="col-12 col-lg-12 col-xl-4 col-xxl-3">
											<div class="edituser-image">
												<f:render partial="Fields/Image" arguments="{_all}" />
											</div>
										</div>

										<div class="col-12 col-lg-6 col-xl-4 col-xxl-4">

											<div id="edituser-account" class="row edituser-account">
												<div class="col-12"><label><f:translate key="tx_VebOvrFemanager_domain_model_user.account_data" extensionName="veb_ovr_femanager" /></label></div>
												<div class="col-12"><f:render partial="Fields/Username" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/Password" arguments="{_all}" /></div>

												<f:comment>
													<div class="col-12"><f:render partial="Fields/Usergroup" arguments="{_all}" /></div>
												</f:comment>
											</div>

											<div id="edituser-personal-info"  class="row edituser-personal info">
												<div class="col-12"><label><f:translate key="tx_VebOvrFemanager_domain_model_user.personal_data" extensionName="veb_ovr_femanager" /></label></div>
												<f:comment><div class="col-12"><f:render partial="Fields/Title" arguments="{_all}" /></div></f:comment>
												<f:comment><div class="col-12"><f:render partial="Fields/Name" arguments="{_all}" /></div></f:comment>
												<div class="col-12"><f:render partial="Fields/FirstName" arguments="{_all}" /></div>
												<f:comment><div class="col-12"><f:render partial="Fields/MiddleName" arguments="{_all}" /></div></f:comment>
												<div class="col-12"><f:render partial="Fields/LastName" arguments="{_all}" /></div>
												<f:comment><div class="col-12"><f:render partial="Fields/Gender" arguments="{_all}" /></div></f:comment>
												<div class="col-12"><f:render partial="Fields/DateOfBirth" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/Company" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/Department" arguments="{_all}" /></div>
												<f:comment><div class="col-12"><f:render partial="Fields/Www" arguments="{_all}" /></div></f:comment>
												<f:comment><div class="col-12"><f:render partial="Fields/Email" arguments="{_all}" /></div></f:comment>
												<div class="col-12"><f:render partial="Fields/Telephone" arguments="{_all}" /></div>
												<f:comment><div class="col-12"><f:render partial="Fields/Fax" arguments="{_all}" /></div></f:comment>
											</div>

											<div id="edituser-personal-address"  class="row edituser-personal address">
												<div class="col-12"><label><f:translate key="tx_VebOvrFemanager_domain_model_user.address_data" extensionName="veb_ovr_femanager" /></label></div>
												<div class="col-12"><f:render partial="Fields/Address" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/Zip" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/City" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/Country" arguments="{_all}" /></div>
												<f:comment><div class="col-12"><f:render partial="Fields/State" arguments="{_all}" /></div></f:comment>
											</div>

										</div>

										<div class="col-12 col-lg-6 col-xl-4 col-xxl-4">

											<div id="edituser-socialmedia"  class="row edituser-socialmedia">
												<div class="col-12"><label><f:translate key="tx_VebOvrFemanager_domain_model_user.socialmedia" extensionName="veb_ovr_femanager" /></label></div>
												<div class="col-12"><f:render partial="Fields/FacebookProfile" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/InstagramProfile" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/LinkedinProfile" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/SkypeId" arguments="{_all}" /></div>
												<div class="col-12"><f:render partial="Fields/TwitterProfile" arguments="{_all}" /></div>
											</div>

											<div id="edituser-aboutme"  class="row edituser-aboutme">
												<f:comment><div class="col-12"><label><f:translate key="tx_VebOvrFemanager_domain_model_user.about_me" extensionName="veb_ovr_femanager" /></label></div></f:comment>
												<div class="col-12"><f:render partial="Fields/AboutMe" arguments="{_all}" /></div>
											</div>

										</div>
									</div>

									<div class="row">
										<f:comment>
											<div class="col-12 edituser-captcha">
												<f:if condition="{femanager:Misc.CaptchaEnabled(settings:'{settings}')}">
													<f:render partial="Fields/Captcha" arguments="{_all}" />
												</f:if>
											</div>
										</f:comment>

										<div class="col-12 edituser-submit edituser-delete">
											<f:render partial="Misc/DeleteLink" arguments="{_all}" />
											<f:render partial="Fields/SubmitUpdate" arguments="{_all}" />
										</div>

										<div class="col-12 edituser-message">
											<p class="femanager_message"><f:translate key="tx_VebOvrFemanager_domain_model_user.message.for-save-changes-password-needed" extensionName="veb_ovr_femanager" /></p>
										</div>

									</div>

								</f:else>

							</f:if>

						</fieldset>

					</f:form>
				</f:then>
				<f:else>
					<div class="femanager_note">
						<f:translate key="notLoggedIn" />
					</div>
				</f:else>
			</f:if>
		</div>
	</f:section>

</div>
