<html xmlns="http://www.w3.org/1999/xhtml" lang="en" data-namespace-typo3-fluid="true">
<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">

        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

            <f:comment>
                {propertyPath}
            </f:comment>

            <f:for each="{errors}" as="error">

                <div class="message-wrapper error" data-error-code="{error.code}">
                    <p>{error}</p>
                </div>

            </f:for>

        </f:for>
    </f:if>
</f:form.validationResults>
</html>
