{namespace femanager=In2code\Femanager\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend" />

UserBackend / List

<f:section name="main">

	<div class="femanager_list">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:render partial="Backend/Searchform" />

		<f:if condition="{users}">
			<f:then>

				<f:be.widget.paginate objects="{users}" as="usersPage" configuration="{itemsPerPage: 100, insertBelow: 1}">
					<table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-hover">
						<tbody>

							<tr class="t3-row-header">
								<td nowrap="nowrap" class="col-icon">&nbsp;</td>
								<td nowrap="nowrap" colspan="9">
									<span class="c-table">
										<f:translate key="tx_femanager_domain_model_user" /> TEsT ovrFEmanager
									</span>
									(<f:count subject="{users}" />)
								</td>
								<td nowrap="nowrap" class="col-icon">&nbsp;</td>
							</tr>
							<tr class="c-headLine">
								<td nowrap="nowrap" class="col-icon">
									<a title="Create New User" href="{femanager:Misc.BackendNewLink(tableName:'fe_users')}">
										<core:icon identifier="actions-document-new" />
									</a>
								</td>
								<td nowrap="nowrap" class="col-icon">
									Online2
								</td>
								<td nowrap="nowrap" class="col-title">
									<f:translate key="tx_femanager_domain_model_user.username" />
								</td>
								<td nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.email" />
								</td>
								<td nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.name" />
								</td>
								<td nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.usergroup" />
								</td>
								<td nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.crdate" />
								</td>
								<td nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.lastlogin" />
								</td>
								<td nowrap="nowrap">
									UID
								</td>
								<td nowrap="nowrap">
									PID
								</td>
								<td nowrap="nowrap" class="col-icon"></td>
							</tr>

							<f:for each="{usersPage}" as="user">
								<tr class="db_list_normal firstcol femanager_list_line">
									<td nowrap="nowrap" class="col-icon">
										<span title="id={user.uid}"
											  class="tx-feusermanager-icon-status-user-frontend"
											  style="{f:if(condition:'{user.disable}', then:'display:none', else:'')}">
											<core:icon identifier="status-user-frontend" />
										</span>
										<span title="id={user.uid} - {f:translate(key:'BackendListUserVisibilityHidden')}"
											  class="tx-feusermanager-icon-status-user-frontend-disabled"
											  style="{f:if(condition:'{user.disable}', then:'', else:'display:none')}">
											<core:icon identifier="status-user-frontend" state="disabled" />
										</span>
									</td>
									<td nowrap="nowrap" class="col-icon">
										<span title="{f:translate(key:'BackendListUserStatusOnline')}"
											  class="tx-feusermanager-icon-status-status-permission-granted"
											  style="{f:if(condition:'{user.online}', then:'', else:'display:none')}">
											<core:icon identifier="status-status-permission-granted" />
										</span>
										<span title="{f:translate(key:'BackendListUserStatusOffline')}"
											  class="tx-feusermanager-icon-status-status-permission-denied"
											  style="{f:if(condition:'{user.online}', then:'display:none', else:'')}">
											<core:icon identifier="status-status-permission-denied" />
										</span>
									</td>
									<td nowrap="nowrap" class="col-title">
										{user.username}
									</td>
									<td nowrap="nowrap">
										{user.email}
									</td>
									<td nowrap="nowrap">
										{user.lastName}<f:if condition="{user.lastName}">,</f:if> {user.firstName}
									</td>
									<td nowrap="nowrap">
										<f:for each="{user.usergroup}" as="usergroup" iteration="i">
											<f:if condition="{i.isFirst}">
												<f:else>
													<br />
												</f:else>
											</f:if>
											{usergroup.title}
										</f:for>
									</td>
									<td nowrap="nowrap">
										<f:format.date format="d.m.Y H:i">{user.crdate}</f:format.date>
									</td>
									<td nowrap="nowrap">
										<f:format.date format="d.m.Y H:i">{user.lastlogin}</f:format.date>
									</td>
									<td nowrap="nowrap">
										{user.uid}
									</td>
									<td nowrap="nowrap">
										{user.pid}
									</td>
									<td nowrap="nowrap">
										<f:comment>
											Edit Icon
										</f:comment>
										<a title="{f:translate(key:'BackendListUserEdit')}" href="{femanager:Misc.BackendEditLink(tableName:'fe_users',identifier:user.uid)}">
											<core:icon identifier="actions-document-open" />
										</a>

										<f:comment>
											Delete Icon
										</f:comment>
										<span class="deleteUser cursorpointer" title="{f:translate(key:'BackendListUserDelete')}">
											<core:icon identifier="actions-edit-delete" />
										</span>

										<f:comment>
											Enable/Disable Icon
										</f:comment>
										<span title="{f:translate(key: 'BackendListUserVisibilityUnhide')}"
											  class="unhideUser cursorpointer tx-feusermanager-icon-actions-edit-unhide"
											  style="{f:if(condition:'{user.disable} == 1', then:'', else:'display:none')}">
											<core:icon identifier="actions-edit-unhide" />
										</span>
										<span title="{f:translate(key: 'BackendListUserVisibilityHide')}"
											  class="hideUser cursorpointer tx-feusermanager-icon-actions-edit-hide"
											  style="{f:if(condition:'{user.disable} == 1', then:'display:none', else:'')}">
											<core:icon identifier="actions-edit-hide" />
										</span>

										<f:if condition="{loginAsEnabled}">
											<f:comment>
												Login as Icon
											</f:comment>
											<span title="{f:translate(key:'BackendListLoginAs')}"
													class="tx-feusermanager-icon-actions-system-backend-user-switch"
													style="{f:if(condition:'{user.online} == 1', then:'display:none', else:'{f:if(condition:\'{user.disable}\', then:\'display:none\', else:\'\')}')}">
											<a href="/?type=1548943013&tx_femanager_pi1[user]={user.uid}" title="{f:translate(key: 'BackendListLoginAs')}" target="_blank">
												<core:icon identifier="actions-system-backend-user-switch" />
											</a>
										</span>
											<span title="{f:translate(key:'BackendListLoginAs')}"
													class="tx-feusermanager-icon-actions-system-backend-user-switch-disabled"
													style="{f:if(condition:'{user.online} == 1', then:'', else:'{f:if(condition:\'{user.disable}\', then:\'\', else:\'display:none\')}')}">
											<core:icon identifier="actions-system-backend-user-switch" state="disabled" />
										</span>
										</f:if>

										<f:comment>
											Logout Icon
										</f:comment>
										<span title="{f:translate(key:'BackendListUserLogout')}"
											  class="tx-feusermanager-icon-apps-pagetree-drag-place-denied"
											  style="{f:if(condition:'{user.online}', then:'', else:'display:none')}">
											<f:link.action action="userLogout" arguments="{user:user}" class="logoutUser" title="{f:translate(key:'BackendListUserLogout')}">
												<core:icon identifier="apps-pagetree-drag-place-denied" />
											</f:link.action>
										</span>
										<span title="{f:translate(key:'BackendListUserLogout')}"
											  class="tx-feusermanager-icon-apps-pagetree-drag-place-denied-disabled"
											  style="{f:if(condition:'{user.online}', then:'display:none', else:'')}">
											<core:icon identifier="apps-pagetree-drag-place-denied" state="disabled" />
										</span>

										<input type="hidden" class="container_uid" name="container_uid" value="{user.uid}" />
										<input type="hidden" class="container_module_uri" name="container_module_uri" value="{moduleUri}" />
										<input type="hidden" class="container_table" name="container_table" value="fe_users" />
										<input type="hidden" class="container_label_delete_confirmation" name="container_label_delete_confirmation" value="{f:translate(key:'BackendListUserDeleteConfirmation')}" />
									</td>
								</tr>
							</f:for>

						</tbody>
					</table>
				</f:be.widget.paginate>

			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordsFound" />
					<br />
					<f:if condition="{femanager:Misc.Request(parameter:'tx_femanager_web_femanagerm1|filter|searchword')}">
						<f:then>
							<f:link.action>
								<f:translate key="noRecordsFoundClearFilter">Clean filter.</f:translate>
							</f:link.action>
						</f:then>
						<f:else>
							<f:if condition="{femanager:Condition.IsBackendAdministratorAuthentication()}">
								<f:link.action class="underline" additionalParams="{id:0}">
									<f:translate key="noRecordsFoundGoToPage0">Show all users from all pages (for admins only).</f:translate>
								</f:link.action>
							</f:if>
						</f:else>
					</f:if>
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
