<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h3>
    <f:translate key="forgot_header"/>
</h3>

<div class="frame-text-indent">
    <p>
        <f:translate key="forgot_reset_message"/>
    </p>
</div>

<f:render partial="ValidationErrors"/>

<f:form action="recovery" method="post">
    <fieldset>

        <f:comment>
            <legend>
                <f:render partial="RenderLabelOrMessage" arguments="{key: 'reset_password'}"/>
            </legend>
        </f:comment>

        <div class="form__group field">
            <f:form.textfield name="userIdentifier" placeholder="{f:translate(key: 'enter_your_data')}" class="form__field"/>
            <label for="userIdentifier" class="form__label">
                <f:translate key="enter_your_data"/>
            </label>
        </div>

        <div class="submit__group">
            <div id="felogin_submit" class="button xxlarge primary icon sign-up">
                <f:form.submit value="{f:translate(key: 'reset_password')}"/>
            </div>
        </div>

    </fieldset>
</f:form>

<div class="forgot-password__group">
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin"/>
    </f:link.action>
</div>

</html>
