<f:layout name="Default" />

User / Status

<f:section name="main">
	<f:comment><h3><f:translate key="createStatus">User registration</f:translate></h3></f:comment>
	<f:render partial="Misc/FlashMessages" arguments="{_all}" />
</f:section>
