{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_aboutme form__group field">

	<f:form.textarea
			id="aboutMe"
			property="aboutMe"
			placeholder="{f:translate(key: 'tx_VebOvrFemanager_domain_model_user.about_me', extensionName: 'veb_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'aboutMe')}" />

	<label for="aboutMe" class="form__label">
		<f:translate key="tx_VebOvrFemanager_domain_model_user.about_me" extensionName="veb_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'aboutMe')}">
			<span>*</span>
		</f:if>
	</label>

</div>
