{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_address form__group field">

	<f:form.textarea
			id="femanager_field_address"
			property="address"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.address')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'address')}" />

	<label for="femanager_field_address" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.address" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'address')}">
			<span>*</span>
		</f:if>
	</label>
</div>
