{namespace femanager=In2code\Femanager\ViewHelpers}
{namespace freeCap=SJBR\SrFreecap\ViewHelpers}
<div class="femanager_fieldset femanager_captcha form__group field">
	<label for="femanager_field_captcha" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.captcha" default="Captcha" />
		<span>*</span>
	</label>
	<div class="col-sm-10">
		<f:form.textfield
				id="femanager_field_captcha"
				name="captcha"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'captcha')}"
				title="{freeCap:translate(key:'notice')} {freeCap:translate(key:'explain')}" />
		<freeCap:image />
		<freeCap:audio />
	</div>
</div>
