{namespace femanager=In2code\Femanager\ViewHelpers}

<div class="femanager_fieldset femanager_country form__group field">

	<f:if condition="{useStaticInfoTables}">
		<f:then>
			<f:render section="static_info_tables" arguments="{_all}"/>
		</f:then>
		<f:else>
			<f:render section="internal" arguments="{_all}"/>
		</f:else>
	</f:if>

	<label for="femanager_field_country" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.country"/>
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'country')}">
			<span>*</span>
		</f:if>
	</label>
</div>

<f:section name="internal">
	<femanager:form.select
			id="femanager_field_country"
			property="country"
			options="{femanager:Form.GetCountries()}"
			defaultOption="{f:translate(key:'pleaseChoose')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'country')}"/>
</f:section>

<f:section name="static_info_tables">
	<femanager:form.select
			id="femanager_field_country"
			property="country"
			options="{femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA2',value:'shortNameLocal',sortbyField:'shortNameLocal')}"
			defaultOption="{f:translate(key:'pleaseChoose')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'country')}"/>
	<f:comment><![CDATA[

		// Example how to add a countryselection from static_info_tables (and _de, _fr, etc...)
		// Just install static_info_tables, clear cache and use (default values -
		key:'isoCodeA3',value:'officialNameLocal',sortbyField:'isoCodeA3',sorting:'asc')
		// custom: 	{DE: 'Deutschland',AT: 'Österreich', CH: 'Schweiz'}
		// basic: 	{femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA2',value:'shortNameLocal',sortbyField:'shortNameLocal')}
		// default: {femanager:Form.GetCountriesFromStaticInfoTables()}
		//
		// some more examples (if you want to configure key and value or sorting)
		// {femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA2',value:'shortNameDe')}
		// {femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA2',value:'shortNameFr',sortbyField:'shortNameFr')}
		// {femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA3',value:'isoCodeA3',sortbyField:'isoCodeA3',sorting:'asc')}
		// to fill the options

		]]>
	</f:comment>
</f:section>
