{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_dateOfBirth form__group field">

	<femanager:form.textfield
		id="femanager_field_dateOfBirth"
		property="dateOfBirth"
		class="form__field"
		placeholder="{f:translate(key:'tx_femanager_domain_model_user.dateOfBirth.placeholder')}"
		title="{f:translate(key:'tx_femanager_domain_model_user.dateOfBirth.hint')}"
		value="{user.dateOfBirth -> f:format.date(format:'{f:translate(key:\'tx_femanager_domain_model_user.dateFormat\')}')}"
		additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'dateOfBirth')}" />

	<label for="femanager_field_dateOfBirth" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.dateOfBirth" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'dateOfBirth')}">
			<span>*</span>
		</f:if>
	</label>

</div>
