{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_email form__group field">
	<femanager:form.textfield
			id="femanager_field_email"
			name="email"
			property="email"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.email')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'email')}" />

	<label for="femanager_field_email" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.email" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'email')}">
			<span>*</span>
		</f:if>
	</label>
</div>
