{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_facebookprofile form__group field">

	<femanager:form.textfield
			id="facebookProfile"
			property="facebookProfile"
			placeholder="{f:translate(key: 'tx_VebOvrFemanager_domain_model_user.facebook_profile', extensionName: 'veb_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'facebookProfile')}" />

	<label for="facebookProfile" class="form__label">
		<f:translate key="tx_VebOvrFemanager_domain_model_user.facebook_profile" extensionName="veb_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'facebookProfile')}">
			<span>*</span>
		</f:if>
	</label>

</div>
