{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_fax form__group field">

	<femanager:form.textfield
			id="femanager_field_fax"
			property="fax"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.fax')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'fax')}" />

	<label for="femanager_field_fax" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.fax" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'fax')}">
			<span>*</span>
		</f:if>
	</label>

</div>
