{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_firstname form__group field">

	<femanager:form.textfield
			id="femanager_field_firstName"
			property="firstName"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.firstName')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'firstName')}" />

	<label for="femanager_field_firstName" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.firstName" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'firstName')}">
			<span>*</span>
		</f:if>
	</label>

</div>
