{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_gender form__group field">

	<div class="col-12">
		<div class="radio">
			<label>
				<f:form.radio
						id="femanager_field_gender1"
						property="gender"
						value="1"
						checked="{user.gender} == 1"
						additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'gender')}" />
				<f:translate key="tx_femanager_domain_model_user.gender.item1" />
			</label>
		</div>
		<div class="radio">
			<label>
				<f:form.radio
					id="femanager_field_gender0"
					property="gender"
					value="0"
					checked="{user.gender} == 0"
					additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'gender')}" />
				<f:translate key="tx_femanager_domain_model_user.gender.item0" />
			</label>
		</div>
	</div>

	<label class="form__label">
		<f:translate key="tx_femanager_domain_model_user.gender" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'gender')}">
			<span>*</span>
		</f:if>
	</label>
</div>
