{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_instagramprofile form__group field">

	<femanager:form.textfield
			id="instagramProfile"
			property="instagramProfile"
			placeholder="{f:translate(key: 'tx_VebOvrFemanager_domain_model_user.instagram_profile', extensionName: 'veb_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'instagramProfile')}" />

	<label for="instagramProfile" class="form__label">
		<f:translate key="tx_VebOvrFemanager_domain_model_user.instagram_profile" extensionName="veb_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'instagramProfile')}">
			<span>*</span>
		</f:if>
	</label>

</div>
