{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_lastname form__group field">

	<femanager:form.textfield
			id="femanager_field_lastName"
			property="lastName"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.lastName')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'lastName')}" />

	<label for="femanager_field_lastName" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.lastName" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'lastName')}">
			<span>*</span>
		</f:if>
	</label>

</div>
