{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_middlename form__group field">
	<femanager:form.textfield
			id="femanager_field_middleName"
			property="middleName"
			placeholder="{f:translate(key:'tx_femanager_domain_model_user.middleName')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'middleName')}" />

	<label for="femanager_field_middleName" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.middleName" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'middleName')}">
			<span>*</span>
		</f:if>
	</label>

</div>
