{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_skypeid form__group field">

	<femanager:form.textfield
			id="skypeId"
			property="skypeId"
			placeholder="{f:translate(key:'tx_VebOvrFemanager_domain_model_user.skype_id', extensionName: 'veb_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'skypeId')}" />

	<label for="skypeId" class="form__label">
		<f:translate key="tx_VebOvrFemanager_domain_model_user.skype_id" extensionName="veb_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'skypeId')}">
			<span>*</span>
		</f:if>
	</label>
</div>
