{namespace femanager=In2code\Femanager\ViewHelpers}

<div class="femanager_fieldset femanager_state form__group field">

	<femanager:form.select
			id="femanager_field_state"
			property="state"
			defaultOption="{f:translate(key:'pleaseChooseCountry')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'state')}"
			data="{trigger-fields: 'femanager_field_country', data-endpoint: 'getStatesForCountry', arguments-country: 'femanager_field_country'}"/>

	<label for="femanager_field_state" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.state"/>
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'state')}">
			<span>*</span>
		</f:if>
	</label>
</div>
