<div class="femanager_fieldset femanager_submit form__group field">

	<div id="femanager_field_submit" class="button large primary icon save">
		<f:form.submit value="{f:translate(key:'submitEdit')}" name="submit"/>
	</div>

	<f:comment>
		<f:form.submit
				value="{f:translate(key:'submitEdit')}"
				id="femanager_field_submit"
				class="btn btn-primary btn-large" />
	</f:comment>

</div>
