<div class="femanager_fieldset femanager_submit form__group field">

	<div id="femanager_create_submit" class="button xlarge primary icon sign-up">
		<f:form.submit value="{f:translate(key:'submitNew')}" name="submit"/>
	</div>

	<f:comment>
		<f:form.submit
				value="{f:translate(key:'submitNew')}"
				id="femanager_field_submit"
				class="btn btn-primary btn-large" />
	</f:comment>
</div>
