{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_telephone form__group field">

	<femanager:form.textfield
			id="femanager_field_telephone"
			property="telephone"
			placeholder="{f:translate(key:'tx_femanager_domain_model_user.telephone')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'telephone')}" />

	<label for="femanager_field_telephone" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.telephone" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'telephone')}">
			<span>*</span>
		</f:if>
	</label>

</div>
