{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_terms form__group field">


        <label class="checkbox bounce">
            <f:form.checkbox
                    id="femanager_field_terms"
                    property="terms"
                    value="Terms and conditions"
                    checked="false"
                    additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'terms')}" />
            <svg viewBox="0 0 21 21">
                <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
            <f:translate key="tx_VebOvrFemanager_domain_model_user.terms" extensionName="veb_ovr_femanager" />
            <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'terms')}">
                <span>*</span>
            </f:if>
            <f:if condition="{settings.misc.termsUrl}">
                <f:then>
                    <br>
                    <f:link.page pageUid="{settings.misc.termsUrl}"><f:translate key="tx_VebOvrFemanager_domain_model_user.termslinktext" extensionName="veb_ovr_femanager" /></f:link.page>
                </f:then>
            </f:if>
        </label>

</div>
