{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_twitterprofile form__group field">
	<femanager:form.textfield
			id="twitterProfile"
			property="twitterProfile"
			placeholder="{f:translate(key:'tx_VebOvrFemanager_domain_model_user.twitter_profile', extensionName: 'veb_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'twitterProfile')}" />

	<label for="twitterProfile" class="form__label">
		<f:translate key="tx_VebOvrFemanager_domain_model_user.twitter_profile" extensionName="veb_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'twitterProfile')}">
			<span>*</span>
		</f:if>
	</label>

</div>
