{namespace femanager=In2code\Femanager\ViewHelpers}

<f:render section="default" arguments="{_all}" />


<f:section name="default">
	<div class="femanager_fieldset femanager_usergroup form__group field">

		<femanager:form.select
				id="femanager_field_usergroup"
				name="user[usergroup][0]"
				options="{allUserGroups}"
				optionValueField="uid"
				optionLabelField="title"
				sortByOptionLabel="1"
				defaultOption="{f:translate(key:'pleaseChoose')}"
				class="form__field"
				value="{femanager:Misc.GetFirst(objectStorage:user.usergroup)}"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'usergroup')}" />

		<label for="femanager_field_usergroup" class="form__label">
			<f:translate key="tx_femanager_domain_model_user.usergroup" />
			<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'usergroup')}">
				<span>*</span>
			</f:if>
		</label>

	</div>
</f:section>


<f:section name="multiselect">
	<f:comment><![CDATA[

		/////////////////////////////////////////
		// Example how to add a multiselect field
		/////////////////////////////////////////

		<div class="femanager_fieldset femanager_usergroup form-group">
			<label for="femanager_field_usergroup" class="col-sm-2 control-label">
				<f:translate key="tx_femanager_domain_model_user.usergroup" />
				<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'usergroup')}">
					<span>*</span>
				</f:if>
			</label>
			<div class="col-sm-10">
				<femanager:form.select
						id="femanager_field_usergroup"
						property="usergroup"
						multiple="multiple"
						options="{allUserGroups}"
						optionValueField="uid"
						optionLabelField="title"
						sortByOptionLabel="1"
						class="form-control"
						value="{femanager:Misc.GetFirst(objectStorage:user.usergroup)}"
						additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'usergroup')}" />
			</div>
		</div>

		]]></f:comment>
</f:section>
