{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_username form__group field">
	<femanager:form.textfield
			id="femanager_field_username"
			name="user"
			property="username"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.username')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'username')}" />

	<label for="femanager_field_username" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.username" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'username')}">
			<span>*</span>
		</f:if>
	</label>
</div>

<f:comment>
	<div class="femanager_fieldset femanager_username form-group">
		<label for="femanager_field_username" class="col-sm-2 control-label">
			<f:translate key="tx_femanager_domain_model_user.username" />
			<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'username')}">
				<span>*</span>
			</f:if>
		</label>
		<div class="col-sm-10">
			<femanager:form.textfield
					id="femanager_field_username"
					property="username"
					class="form-control"
					additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'username')}" />
		</div>
	</div>
</f:comment>
