{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_www form__group field">
	<femanager:form.textfield
			id="femanager_field_www"
			property="www"
			placeholder="{f:translate(key:'tx_femanager_domain_model_user.www')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'www')}" />

	<label for="femanager_field_www" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.www" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'www')}">
			<span>*</span>
		</f:if>
	</label>

</div>
