<div class="hidden" style="display: none;">
	<f:comment>
		Current sys_language_uid to set the fe language for ajax calls
	</f:comment>
	<input type="hidden" id="femanagerLanguage" value="{languageUid}" />

	<f:comment>
		Storage pid for ajax calls (know where to search in db)
	</f:comment>
	<input type="hidden" id="femanagerStoragePid" value="{storagePid}" />

	<f:comment>
		Current pid for ajax calls (to enable TypoScript)
	</f:comment>
	<input type="hidden" id="femanagerPid" value="{Pid}" />

	<f:comment>
		Container for javascript validation messages above the fields
	</f:comment>
	<div class="femanager_validation_container">
		<div class="alert bg-danger">
			<button type="button" class="close" data-dismiss="alert">&#x00D7;</button>
			<f:comment><h4><f:translate key="validationError" extensionName="Femanager" /></h4></f:comment>
			###messages###
		</div>
	</div>
</div>
