<f:if condition="{settings.edit.showDeleteLink}">
	<div class="femanager_fieldset femanager_delete form__group field">
		<f:link.action
				action="delete"
				arguments="{user:user, token:token}"
				class="button large warning icon delete"
				additionalAttributes="{data-confirm:'{f:translate(key:\'UserDeleteConfirmation\')}'}">
			<f:translate key="deleteProfile" />
		</f:link.action>
	</div>
</f:if>
