{namespace femanager=In2code\Femanager\ViewHelpers}
<f:if condition="{settings.list.filterActivate}">
	<div class="femanager_list_searchform">
		<f:form name="filter" class="form-horizontal" object="{filter}">
			<div class="femanager_fieldset femanager_user-search control-group form__group">

				<f:comment>
					<label for="searchword" class="control-label">
						<f:translate key="FilterLabel" />
					</label>
				</f:comment>


					<femanager:form.textfield
							id="searchword"
							property="searchword"
							placeholder="{f:translate(key:'FilterPlaceholder')}"
							class="form__field input-block-level" />
					<label for="searchword" class="form__label">
						<f:translate key="FilterPlaceholder" />
					</label>

			</div>

			<div class="femanager_fieldset femanager_submit control-group form__group">

				<f:form.button class="button circle primary icon search">
					<f:comment>{f:translate(key:'FilterSubmit')}</f:comment>
				</f:form.button>

			</div>
		</f:form>
	</div>
</f:if>
